
body {
    background-color:#394B59;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding:20px;
}
.container-right {
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.container-right button {
    margin: 5px;
}

.content-piece {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 250px;
    padding: 10px;
    margin: 10px;
    background:#202B33;
    filter: drop-shadow(0px 0px 12px #182026);
}

.content-piece img {
    height: 100%
}

.content-card {
    margin: 10px;
    width: 30%
}

.details-basic {
    flex-grow: 1;
    padding: 10px;
    margin: 10px;
}

.details-description {
    flex-grow: 1;
    padding: 10px;
    margin: 10px;
}

.token-mint {
    width: 100%
}

.token-details {
    flex-grow: 1;
    padding: 10px;
    margin: 10px;
}

.container-mint {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding: 20px;
}

.content-viewer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 10px;
}

.content-viewer img {
    width: 100%;
}

.wallet-option-list {
    list-style:none
}
.wallet-option-list li {
    margin: 10px;
}

.listing-card {
    width: 30%;
}
.listing-card img {
    width: 100%;
    filter: drop-shadow(0px 0px 6px #182026);
}

.listing-card-tags {
    padding: 8px;
    border-radius:5px;
    background-color: rgba(255,255,255,0.3);
    justify-content: space-evenly;
}

.listing-page .bp3-card {
    width: 80%;
}


.nft-viewer img {
    filter: drop-shadow(0px 0px 8px #182026);
    width: 100%
}

.nft-details {
    justify-content: space-between;
}

.nft-description {
    justify-content: left;
    width: 50%
}

.listing-actions {
    justify-content: space-between;
}
.listing-price-edit {
    justify-content: space-between;
}

.listing-price-edit button {
    margin: 5px;
}
.listing-buy {
    align-items: baseline;
}

.portfolio-content {
    justify-content: left;
    border-radius: 10px;
    border: 1px solid whitesmoke;
    width: 100%
}

.portfolio-name {
    justify-content: left;
    width: 100%
}