
body {
    background-color:#394B59;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding:20px;
}
.container-right {
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.container-right button {
    margin: 5px;
}

.content-piece {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 250px;
    padding: 10px;
    margin: 10px;
    background:#202B33;
    filter: drop-shadow(0px 0px 12px #182026);
}

.content-piece img {
    height: 100%
}

.content-card {
    margin: 10px;
    width: 30%
}

.content-card img {
    width: 100%;
}

.details-basic {
    flex-grow: 1;
    padding: 10px;
    margin: 10px;
}

.details-description {
    flex-grow: 1;
    padding: 10px;
    margin: 10px;
}

.token-mint {
    width: 100%
}

.token-details {
    flex-grow: 1;
    padding: 10px;
    margin: 10px;
}

.container-mint {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding: 20px;
}

.content-viewer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 10px;
}

.content-viewer img {
    width: 100%;
}

.wallet-option-list {
    list-style:none
}
.wallet-option-list li {
    margin: 10px;
}

.listing-details {
    justify-content: space-between;
}
.listing-description {
    justify-content: left;
    width: 50%
}
.listing-actions {
    justify-content: space-between;
}
.listing-price-edit {
    justify-content: space-between;
}

.listing-price-edit button {
    margin: 5px;
}
.listing-buy {
    align-items: baseline;
}