#pragma version 3
pushbytes $TMPL_CREATOR_ADDR 
store 0
pushbytes $TMPL_PRICE_MICROALGOS
btoi
store 1
pusbbytes $TMPL_ASSET_ID
btoi
store 2
int 0
bnz l8
global GroupSize
int 1
==
bnz l7
global GroupSize
int 3
==
bnz l6
global GroupSize
int 4
==
bnz l5
err
l5:
gtxn 0 TypeEnum
int pay
==
gtxn 0 RekeyTo
global ZeroAddress
==
&&
gtxn 0 CloseRemainderTo
global ZeroAddress
==
&&
gtxn 0 Receiver
load 0
==
&&
gtxn 0 Amount
load 1
==
&&
gtxn 1 TypeEnum
int axfer
==
gtxn 1 RekeyTo
global ZeroAddress
==
&&
gtxn 1 AssetReceiver
gtxn 0 Sender
==
&&
gtxn 1 AssetCloseTo
gtxn 0 Sender
==
&&
gtxn 1 XferAsset
load 2
==
&&
&&
gtxn 2 TypeEnum
int axfer
==
gtxn 2 RekeyTo
global ZeroAddress
==
&&
gtxn 2 XferAsset
int 1
==
&&
gtxn 2 AssetReceiver
load 0
==
&&
gtxn 2 AssetCloseTo
addr ZGAWJJXOUDT2E5CJ2KJMUZ4HYHYZVUSES3A6DYPPEYCNYPOMN3CQOCVVB4
==
&&
gtxn 2 AssetAmount
int 1
==
&&
&&
gtxn 3 TypeEnum
int pay
==
gtxn 3 RekeyTo
global ZeroAddress
==
&&
gtxn 3 Receiver
addr ZGAWJJXOUDT2E5CJ2KJMUZ4HYHYZVUSES3A6DYPPEYCNYPOMN3CQOCVVB4
==
&&
gtxn 3 CloseRemainderTo
load 0
==
&&
gtxn 3 Amount
int 100
==
&&
&&
b l9
l6:
gtxn 0 Sender
gtxn 1 Sender
==
gtxn 1 Sender
gtxn 2 Sender
==
&&
gtxn 2 TypeEnum
int pay
==
gtxn 2 RekeyTo
global ZeroAddress
==
&&
gtxn 2 Receiver
load 0
==
&&
gtxn 2 CloseRemainderTo
load 0
==
&&
gtxn 2 Amount
int 0
==
&&
&&
gtxn 1 TypeEnum
int axfer
==
gtxn 1 RekeyTo
global ZeroAddress
==
&&
gtxn 1 XferAsset
load 2
==
&&
gtxn 1 AssetReceiver
load 0
==
&&
gtxn 1 AssetCloseTo
load 0
==
&&
&&
gtxn 0 TypeEnum
int axfer
==
gtxn 0 RekeyTo
global ZeroAddress
==
&&
gtxn 0 XferAsset
int 1
==
&&
gtxn 0 AssetReceiver
addr ZGAWJJXOUDT2E5CJ2KJMUZ4HYHYZVUSES3A6DYPPEYCNYPOMN3CQOCVVB4
==
&&
gtxn 0 AssetCloseTo
addr ZGAWJJXOUDT2E5CJ2KJMUZ4HYHYZVUSES3A6DYPPEYCNYPOMN3CQOCVVB4
==
&&
&&
b l9
l7:
txn TypeEnum
int axfer
==
txn AssetCloseTo
global ZeroAddress
==
&&
txn RekeyTo
global ZeroAddress
==
&&
txn XferAsset
load 2
==
&&
txn AssetAmount
int 0
==
&&
txn TypeEnum
int axfer
==
txn AssetCloseTo
global ZeroAddress
==
&&
txn RekeyTo
global ZeroAddress
==
&&
txn XferAsset
int 1
==
&&
txn AssetAmount
int 0
==
&&
||
b l9
l8:
int 0
l9:
